			#container{
				width:1002px;
				margin:0 auto;
			}

			#c0 img{
				height:150px;
				width:1002px;
			}



			.caption p{		   
				margin-top:8px;
				text-align: center;
				font-size:12px;
			   }
			 .caption h3{		   
				margin-top:0px;
				text-align: center;
				font-size:16px;
			   }
		
			
			#banner{
			   width:1002px;
			   height:37px;
			   background-color:#fff;
			   Font:15px/20PX simhei;
			   padding-top: 10px;
			}
			
			#banner span{
			
			   float:right;
			   TEXT-ALIGN: center;
			   margin-right:50px;
			   margin-top:10px;
			}
			
			#c1{
				width:730px;
				border:1px solid #c9cbca;
				float:left;
			
				
			}
			#c2{
				width:242px;
				float:right;
				height:100%;
				background-color:#fff
				padding-left:30px;
				
			}
			
			
			form{
				float:left;
				margin-top:20px;
				margin-right:10px;
				padding-right:20px;
				border:0;
				
				
			}
			#ins{
				width:700px;
				border:1px solid blue;
				margin-left:10px;
			}	 
			
		  			
			
			#qbxw,#qydt,#yhcx{
			   width:729px;;
			   height:100%;
			   background:#fff;
				margin-right:0px;
				margin-top:12px;
				 border-bottom:1px solid #c9cbca;
				 text-align:center
		   }
	

		 
		   #main dt a{
				float:left;
				Font:15px/15PX simhei;
			}
			#main dt span{
				float:left;
				height:10px;
				width:400px;
				margin-left:15px; font-size:12px; font-weight:normal;
			}	
			
			#main dl{
			padding: 15px;
			border-bottom: 1px solid #DEE3E7;
			margin-top: -1px;
			height:106px;
			}

			#main dt{
				font-size: 14px;
				line-height: 26px;
				font-weight: bold;
				width:698px;
				 height:27px;
			}



			.qytext{
				width:700px;
				height:50px;
			}
		
			#qyjsbox1R  {
			border-bottom:1px solid #c9cbca;
			font-size: 14px;
			margin-top:30px;
			margin-left:40px;
			width:900px;:
			height:500px;
			}

			#qyjsbox1R h2 span{
				width:400px;
				height:35px;
				font-size: 20px;
				text-align:left;
				margin-top:4px;
				Font:20px/25PX simhei;
			}
			strong{
				width:80px;
				height:12px;
				float:left;
			}
			.qytext span{
				width:210px;
				height:50px;
				float:left;
				text-align:left;

			
			}
			.clearfix{
				font-size: 14px;
				margin-top:30px;
				margin-left:40px;
				width:900px;
				height:500px;
			}

			.ucarTitle3 span {		
				font-size: 20px;
				width:900px;
				height:35px;
				margin-bottom:20px;
				text-align:left;
				Font:20px/25PX simhei;
			
			}

			   .thumbnail img{
				   width:215px;
				   height:150px;
	   }
	   .nav{
				
				Font:15px/15PX simhei;
				margin-left:0px;	
			}
			
		.list-group {
				padding-left: 0;
				margin-bottom: 20px;
		}
