		#container{
			width:1002px;
			
			margin:0 auto;
		}
		body {
			background-color:#fff;
		}

		
		#rpos{
			TEXT-ALIGN: right;
			height:20px;
			Font:15px/20PX simhei;
			
		}
		
		#rpos li{
			float:right;

		}
		#header{
			height:87px;
			width:1002px;			
		}
		#header img{
			float:left;
			margin:0px 10px 0 0px;
			border:1px solid blue;	
		}
		#rheader{
		   float:left;
		   margin-top:30px;
		   width:700px;
		   height:50px;
		}
		#city{
			float:left;
		}
		#ing span{
			width:200px;
			float:right;
		}
		#banner{
		   width:1002px;
		  background-color:#ff7900;
		   height:40px;
		   margin:8px 0;
		}
		span{
		  width:70px;
		   height:15px;
		   text-align:center;
		   Font:15px/15PX simhei;
		   color:#000;
		   float:left;
		}

		#banner span{
		
		   float:right;
		   TEXT-ALIGN: center;
		   margin-right:50px;
		   margin-top:10px;
		}
		#main{
		   width:1002px;
		   height:100%;
		   background-color:#fff;
		   border:1px solid #c9cbca;
		   
		}
		#c1{
			width:720px;
			height:100%;
			float:left;
			border:1px solid #c9cbca;
			
		}
		#c2{
			width:242px;
			float:right;
			height:100%;
			background-color:#fff
			padding-left:30px;
			border:1px solid #c9cbca;
		}
		
		
		form{
			float:left;
			margin-top:20px;
			margin-right:10px;
			padding-right:20px;
			border:0;
			
			
		}
		#ins{
			width:700px;
			border:1px solid blue;
			margin-left:10px;
		}	 
		
	   #nav li{
		   float:left;
		   list-style:none;
		   margin:0 1px;
		   width:90px;
		   height:37px
      }
	   #nav li a{
		   display:block;
		   background-color:#ff8a00;
		   width:90px;
		   height:37px;
		   text-align:center;
		   Font:15px/37PX simhei;
		   color:#fff;
	   }
	   #nav li a:hover{
		   display:block;
		   background-color:#ea6601;
		   width:90px;
		   height:37px;
		   color: #fff;
	   }
	 
		#nav1 {
			width:1002px;
			height:40px;
		}
		
		
		#nav1 li{
		   float:left;
		   list-style:none;
		   margin:0px 1px 0 0;
		   width:70px;
		   height:15px

			
      }
	   #nav1 li a{
		   display:block;
		   width:70px;
		   height:15px;
		   text-align:center;
		   Font:15px/15PX simhei;
		   color:#ff8a00;

	   }
		#nav1 li a:hover{
		   display:block;
		   width:70px;
		   height:15px;
		   color: #fff;
		   }		
		#footer{
		   width:1002px;
		 
		   height:464px;
		   }
		.b1{
		   width:230px;;
		   height:280px;
		   background:#fff;
			float:left;
			margin-right:0px;
			margin-top:12px;
			 border:1px solid #c9cbca;
			 text-align:center
	   }
		.b1 img { 
			
			width:200;   
			margin:10px auto
			
			
	   }
		
		.b1 ul li{		   
		   padding-left:12px;
		   padding-bottom:5px;
		  
		  
		   font:12px "times new roman","宋体",serif;
	   }
	   #zxxx span{
			background-color:#e7ebea;
			Font:20px/30PX simhei;
			width:100%;
			TEXT-ALIGN: left;
			
	   }
	  #zxxx h1{
			
			height:30px;
			background-color:#e7ebea;
	   }
	  .rb1{
		   width:230px;;
		   height:100%;
		   background:#fff;
			float:left;
			margin:0 0 20px 0;
			 border:1px solid #c9cbca;
			 text-align:center
	   }
		.rb1 img { 
			
			width:200;   
			margin:10px auto
			
			
	   }
		
		.rb1 ul li{		   
		   padding-left:12px;
		   padding-bottom:5px;
		  
		  
		   font:12px "times new roman","宋体",serif;
	   }
		